:root {
    --image-border: 8px ; /* 2 in chakra UI */
}

.image {
    transform: scale(1)
}

.image-box:active .image {
    transform: scale(0.99);
}

.image-info-panel {
    opacity: 0;
    transition: .2s ease-in-out;
}

.title-font {
    font-family: "League Spartan", sans-serif;
}

.text-font {
    font-family: "Aileron", sans-serif;
}

.icon {
    margin-bottom: 5px;
}


@media screen and (min-width: 900px) {
    .image-box:hover .image-info-panel {
        opacity: 1;
    }
}

.bg-gradient {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background-color: gray;
    filter: blur(75px);
}

@keyframes video-effect {
    /* 0% { background-position: 0% 0%; }
    15% { background-position: 39% 50%; }
    30% { background-position: 75% 75%; }
    45% { background-position: 80% 75%; }
    60% { background-position: 77% 12%; }
    75% { background-position: 100% 90%; }
    90% { background-position: 33% 66% ;} */
}

.video-effect-animation {
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: video-effect 120s infinite;
}